# The only values that need to be defined

# modify to reflect you bulb mac addresses
bulbmacs = ['XX:XX:XX:XX:XX:XX','XX:XX:XX:XX:XX:XX']

# modify the following to suit your mqtt server
# the broker can be an ip address or a name
#

mqttBroker = "192.168.0.5"
mqttBrokerPort = 1883

# define these as needed for your bulbs. These are used to build the 
# topics to subscribe and publish to the mqtt server.

mqttroots= ['office/rgb1','office/rgb2']
 
